.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #2e333c;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #36c6d1cb;
  padding-top: 2.5%;
}

p {
  font-size: 2rem;
  color: #36c6d1cb;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

button {
  font-size: 2rem;
  margin: 20px;
  padding: 10px 20px;
  color: #fff;
  background-color: #36c6d1cb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #2e9fb0;
}
